<template>
  <li>
    <!-- <h2>{{ friendName }} {{ friendIsFavorite ? "(Favorite)" : "" }}</h2> -->
    <h2>{{ friendName }} {{ isFavorite ? "(Favorite)" : "" }}</h2>
    <button @click="toggleDetails">
      {{ detailsAreVisible ? "Hide" : "Show" }} Details
    </button>
    <button @click="toggleFavorite">Toggle Favorite</button>
    <button @click="deleteFriend">Delete</button>
    <ul v-if="detailsAreVisible">
      <li>
        <strong>Phone:</strong>
        {{ friendPhone }}
      </li>
      <li>
        <strong>Email:</strong>
        {{ friendEmail }}
        <!-- {{ friend.email }} -->
      </li>
    </ul>
  </li>
</template>

<script>
export default {
  // props: ["friendName", "friendPhone", "friendEmail", "isFavorite"],
  props: {
    id: {
      type: String,
      required: true,
    },
    friendName: {
      type: String,
      required: true,
    },
    friendPhone: {
      type: String,
      required: true,
    },
    friendEmail: {
      type: String,
      required: true,
    },
    isFavorite: {
      type: Boolean,
      required: false,
      default: false,
      // validator: function(val) {
      //   return val === "true" || val === "false";
      // },
    },
  },
  emits: ["toggle-friend", "delete-friend"],
  // emits: {
  //   "toggle-friend": function(id) {
  //     if (id) {
  //       return true;
  //     } else {
  //       console.warn("id is Missing");
  //       return false;
  //     }
  //   },
  // },
  data() {
    return {
      detailsAreVisible: false,
      // friendIsFavorite: this.isFavorite,
    };
  },
  methods: {
    toggleDetails() {
      this.detailsAreVisible = !this.detailsAreVisible;
    },
    toggleFavorite() {
      // if (this.friendIsFavorite === "true") {
      //   this.friendIsFavorite = "false";
      // } else {
      //   this.friendIsFavorite = "true";
      // }

      // this.friendIsFavorite = !this.friendIsFavorite;

      // emit some data from child to parent
      this.$emit("toggle-friend", this.id);
    },
    deleteFriend() {
      this.$emit("delete-friend", this.id);
    },
  },
};
</script>
