<template>
  <section class="container">
    <form action="" @submit.prevent>
      <label for="name">Name:</label>
      <input type="text" name="" id="name" v-model="enteredName" /><br />

      <label for="phone">phone:</label>
      <input type="text" name="" id="phone" v-model="enteredPhone" /><br />

      <label for="email">email:</label>
      <input type="email" name="" id="email" v-model="enteredemail" /> <br />

      <button @click="addFriend">add Friend</button>
    </form>
  </section>
</template>

<script>
export default {
  data() {
    return {
      enteredName: "",
      enteredPhone: "",
      enteredemail: "",
    };
  },
  methods: {
    addFriend() {
      this.$emit(
        "add-friend",
        this.enteredName,
        this.enteredPhone,
        this.enteredemail
      );
      this.enteredName = "";
      this.enteredPhone = "";
      this.enteredemail = "";
    },
  },
};
</script>

<style>
.container input {
  margin-bottom: 20px;
}
</style>
